*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo-detail{
  margin-top: 35px;
  margin-bottom: 5px;
}
.header_logo{
width: 100%;
background-color:white;
border-bottom: 5px solid black;
border-top:5px solid black ;
}
body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.lista_películas{
  margin:10px 19px ;
}
.lista_películas li{
  margin-top: 10px;
  
}

a {
  color:indigo;
  text-decoration: none !important;
}
img{
  width: 100%;
}
.imagen_deFondo{
  background-image:url("https://st.depositphotos.com/1035837/1945/i/450/depositphotos_19457211-stock-photo-film.jpg") ;
}
.fondo_edit{
  padding:150px  100px !important;
  background-image: url('/img/cine-peli-transformed.jpeg');
  background-repeat: no-repeat;
 background-size: cover;
}
figure{
  width: 20%;
}
.titulo{
  text-align: center;
}
.botonAgregar , .botonModificar{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonBorrar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.botonVolver{
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  border-radius: 10px;
}
.formulario{
  margin: auto;
  width: 20%;
}
.form_edit{
  width: 80%;
  margin: 0 auto;
}